<!DOCTYPE html>
<html ng-app="warcraft">
<head>
    <meta charset="UTF-8">
    <title>Warcraft Ladder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="controllers.js"></script>
    <script src="filters.js"></script>
    <script src="services.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>

<body>
<div ng-controller="GetLadder">

    <div>
        <input type="checkbox" ng-model="factionsCheckboxes.alliance"><img class="img" src="icons/alliance.png">Alliance
        <input type="checkbox" ng-model="factionsCheckboxes.horde"><img class="img" src="icons/horde.png">Horde
    </div>

    <div class="table-row wrapper header">
        <div class="wrapper text-4">
            <div class="wrapper tight-2">
                <div class="tight">Rank</div>
                <div class="text">Rating</div>
            </div>
            <div class="wrapper text-2">
                <div class="tight">Faction</div>
                <div class="text">Realm</div>
            </div>
        </div>
        <div class="wrapper text-4">
            <div class="wrapper text-2">
                <div class="text">Details</div>
                <div class="text">Name</div>
            </div>

            <div class="wrapper tight-2">
                <div class="tight">Win</div>
                <div class="tight">Lose</div>
            </div>
            <div class="wrapper tight-2">
                <div class="tight">Total</div>
                <div class="tight">%</div>
            </div>
        </div>
    </div>

    <div class="table-row wrapper" ng-repeat="pl in players | factionFilter:factionsCheckboxes">
        <div class="wrapper text-4">
            <div class="wrapper text-2">
                <div class="tight">{{pl.totalRanking+1}}</div>
                <div class="text">{{pl.rating}}</div>
            </div>
            <div class="wrapper text-2">
                <div class="tight">
                    <img class="img" ng-src={{pl.factionId}}>
                </div>
                <div class="text">{{pl.realmName}}</div>
            </div>
        </div>
        <div class="wrapper text-4">
            <div class="wrapper text-2">
                <div class="text">
                    <img class="img" ng-src={{pl.raceId}}>
                    <img class="img" ng-src={{pl.classId}}>
                    <img class="img" ng-src={{pl.specId}}></div>
                <div class="text" ng-style="{'color': pl.color}">{{pl.name}}</div>
            </div>

            <div class="wrapper tight-2">
                <div class="tight">{{pl.seasonWins}}</div>
                <div class="tight">{{pl.seasonLosses}}</div>
            </div>
            <div class="wrapper tight-2">
                <div class="tight">{{pl.seasonWins+pl.seasonLosses}}</div>
                <div class="tight">{{calculate(pl)}}</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>